---
name: Build
run-name: Build ${{ github.ref_name }} by @${{ github.actor }}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set tag name
        run: |
          echo "TAG_NAME=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: Get short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Maven build
        run: ./mvnw clean package

      - name: Upload java agent jar to github actions build
        uses: actions/upload-artifact@v4
        with:
          name: cf-metrics-exporter-${{ env.TAG_NAME }}-${{ github.run_id }}.jar
          path: target/cf-metrics-exporter-${{ env.TAG_NAME }}.jar

